body {
  padding: 20px;
}

html {
  font-size: 62.5%;
}

.form-input {
  border: 0.1rem solid #eee;
  border-radius: 0.4rem;
  width: calc(100% - 4rem);
  height: 5rem;
  padding: 0 2rem;
  transition: 0.25s ease;
  caret-color: red;
  outline: none;
}

.form-input:focus {
  border-color: #6a5af9;
}

.form-field {
  position: relative;
}

.form-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 2.1rem;
  user-select: none;
  color: #aaa;
  pointer-events: none;
  transition: 0.25s linear;
}

.form-input:not(:valid) + .form-label,
.form-input:focus + .form-label {
  top: 0;
  left: 1.1rem;
  padding: 1rem;
  display: block;
  background-color: white;
  color: #6a5af9;
}

.form-input:not(:focus) + .form-label {
  color: #aaa;
}

/* :is -> can not override (not count !important) */
/* :where -> can override */
.article :is(.h1, .h2, .h3) {
  color: red;
}

.h1 {
  color: green;
}
