.box {
  background-color: black;
  width: 50px;
  height: 50px;
  margin: 200px;
  border-radius: 50%;

  background: blue;

  box-shadow: 0 0 0 20px red, 0 0 0 40px white, 0 0 0 60px red;
  position: relative;
}

.box::before {
  content: 'start';
  color: green;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
