.client {
  margin-bottom: 40px;
  &-list {
    display: flex;
  }
  &-item {
    flex-grow: 1;
    flex-basis: 0;
    padding: 45px 25px;
    border: 1px solid #eee;
    border-radius: 20px;
    text-align: center;

    &:not(:first-child) {
      margin-left: 70px;
    }
  }
  &-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto 25px;
  }
  &-name {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 10px;
  }
  &-position {
    color: $gray;
    font-size: 14px;
    display: block;
    padding-bottom: 25px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
  }
  &-content {
    font-size: 16px;
    font-weight: 300;

    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-height: 1.8;

    margin-bottom: 30px;
  }
  &-rate {
    display: flex;
    align-items: center;
    justify-content: center;
    i {
      color: $yellow;
      margin: 0 5px;
      font-size: 20px;
    }
  }

  @media (hover: hover) {
    &-item:hover {
      background-color: transparent;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    }
  }

  @media screen and (max-width: 1023px) {
  }

  @media screen and (max-width: 767px) {
    &-list {
      display: grid;
      justify-content: flex-start;
      grid-auto-columns: 80%;
      grid-auto-flow: column;
      grid-gap: 0 20px;
      overflow: auto;
      overflow-y: hidden;
      scroll-snap-type: x mandatory;
      scroll-snap-stop: always;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      -webkit-overflow-scrolling: touch;
      scroll-padding: 1rem;
      grid-template-columns: unset;
      &::-webkit-scrollbar {
        display: none;
        width: 0;
      }
      & > * {
        scroll-snap-align: start;
      }
    }
  }
}
