.plan {
  padding-bottom: 100px;
  &-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 45px;
  }
  &-item {
    border: 1px solid #eee;
    border-radius: 20px;
    padding: 75px 25px;

    display: flex;
    flex-direction: column;

    position: relative;
    transition: all 0.2s linear;
  }

  &-label {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    background-color: $pink;
    color: white;
    text-transform: capitalize;
    border-radius: 0 20px 0 20px;
    font-size: 14px;
  }
  &-name {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 25px;
  }
  &-symbol {
    vertical-align: top;
  }
  &-price {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 30px;
    padding-bottom: 40px;
    border-bottom: 1px solid #eee;
  }
  &-month {
    font-weight: 500;
    font-size: 30px;
  }
  &-desc {
    margin-bottom: 55px;
  }
  &-feature {
    font-size: 20px;
    margin-bottom: 35px;
    font-weight: 500;

    &-item {
      display: flex;
      align-items: center;
      color: $gray;
      margin-bottom: 25px;
      font-weight: 300;
    }
    &-icon {
      font-size: 20px;
      margin-right: 10px;
    }
  }
  &-start {
    margin: auto auto 0;
    display: block;
    width: max-content;
  }
  &-feature-item:last-of-type {
    margin-bottom: 75px;
  }

  @media (hover: hover) {
    &-item:hover {
      background-color: transparent;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
      .plan-start {
        border-color: $primary-color;
        background-color: $primary-color;
        color: white;
      }
    }
  }

  @media screen and (max-width: 1023px) {
    &-list {
      display: grid;
      justify-content: flex-start;
      grid-auto-columns: 70%;
      grid-auto-flow: column;
      grid-gap: 0 50px;
      overflow: auto;
      overflow-y: hidden;
      scroll-snap-type: x mandatory;
      scroll-snap-stop: always;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      -webkit-overflow-scrolling: touch;
      scroll-padding: 1rem;
      grid-template-columns: unset;
      &::-webkit-scrollbar {
        display: none;
        width: 0;
      }
      & > * {
        scroll-snap-align: start;
      }
    }
  }
}
