body {
    font-size: 22px;
    color: $gray-darker;
    font-weight: 400;
    line-height: 1;
    font-family: $font-primary;
}

.global {
    &-heading {
        color: $primary-color;
        font-weight: bold;
        font-size: 36px;
        line-height: 180%;
        margin-bottom: 20px;
        span {
            color: $secondary-color
        }
    }
    &-text {
        font-size: 24px;
        line-height: 180%;
        color: $gray;
    }
}