html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

:root {
  --color: #7b78f8;
  --shadow: red 0px 10px 20px 0px;
  --line: #ccc;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-color: green;
}

.ribbon {
  width: 20rem;
  height: 10rem;

  background-color: var(--color);
  border-radius: 1rem;

  position: relative;
  box-shadow: var(--shadow);
}

.ribbon::before {
  content: '';

  position: absolute;
  top: -10%;
  left: 2rem;

  width: 2rem;
  height: 2rem;

  box-shadow: var(--shadow);

  background-color: var(--color);

  transform: rotate(45deg);

  z-index: -1;
}

.ribbon2 {
  width: 20rem;
  height: 10rem;

  border-radius: 1rem;

  position: relative;
  border: 1px solid var(--line);

  z-index: 1;
}

.ribbon2::before {
  content: '';

  position: absolute;
  top: -1.1rem;
  left: 2rem;

  width: 2rem;
  height: 2rem;

  border: 1px solid var(--line);

  transform: rotate(45deg);
  background-color: green;
  border-bottom: 0;
  border-right: 0;
}
