.stagger {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.stagger div {
  width: 10px;
  height: 10px;
  border-radius: 100rem;

  background: red;
  animation: loading 0.5s linear infinite alternate;
  animation-delay: calc(-1 * (0.5 / 4) * var(--delay));
}

@keyframes loading {
  0% {
    transform: translateY(0);
  }

  50%,
  100% {
    transform: translateY(20px);
  }
}
