html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  color: #1a2b5f;
  line-height: 1.4;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.wrapper .container {
  margin: 0 auto;
  max-width: 1210px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.logo {
  font-size: 2rem;
  font-weight: 600;
  color: #1a2b5f;
}
.logo__text {
  color: #ffc87a;
}

.clamp-1 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}
.clamp-2 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.clamp-3 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}
.clamp-4 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.btn {
  cursor: pointer;
  outline: none;
  font-size: 1.6rem;
  text-align: center;
  color: #1a2b5f;
  padding: 1.5rem 3rem;
  display: inline-block;
  border: 0;
  background: transparent;
}
.btn--border {
  border: 1px solid currentColor;
}
.btn--rounded {
  border-radius: 5rem;
}
.btn--primary {
  background: #ffc87a;
}
.btn--primary.has-shadow {
  box-shadow: 0 10px 35px -5px #ffc87a;
}

.header {
  padding-top: 4rem;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.header__menu-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
}
.header__menu-item {
  margin-left: 5rem;
}
.header__menu-item:last-child {
  margin-left: 7rem;
}
.header__menu-link {
  font-size: 1.6rem;
  color: #1a2b5f;
  transition: all 0.25s linear;
}
.header__menu-link:hover {
  color: #ffc87a;
}
@media screen and (max-width: 767px) {
  .header__menu {
    display: none;
  }
}

.banner {
  padding-top: 15rem;
  padding-bottom: 15rem;
  max-width: 80rem;
  margin: 0 auto;
  text-align: center;
}
.banner__heading {
  font-weight: 700;
  font-size: 6rem;
  margin-bottom: 3rem;
}
.banner__desc {
  font-weight: 300;
  font-size: 1.8rem;
  margin-bottom: 4rem;
}
.banner__btns {
  display: flex;
  justify-content: center;
}
.banner__btns .btn {
  margin: 0 1rem;
}
@media screen and (max-width: 1023px) {
  .banner {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .banner__heading {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
  .banner__desc {
    font-size: 1.6rem;
  }
  .banner__btns > .btn {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 479px) {
  .banner__heading {
    font-size: 3rem;
  }
  .banner__btns > .btn {
    font-size: 1.2rem;
  }
}

.category__list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
.category__item {
  --width: 25%;
  --gap: 30px;
  width: calc(var(--width) - var(--gap) * 3 / 4);
  padding: 2.5rem;
  border-radius: 2rem;
  background-color: #fff;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
  position: relative;
}
.category__item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  box-shadow: 0 2rem 3.5rem -0.5rem var(--color);
  opacity: 0.25;
}
.category__image {
  border-radius: inherit;
  object-fit: cover;
  margin-bottom: 4rem;
  width: 100%;
  height: 23rem;
}
.category__name {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.category__detail {
  margin-top: auto;
  font-size: 1.4rem;
  color: #c6cad7;
}
.category__detail i {
  margin-left: 1.5rem;
}
@media screen and (max-width: 1023px) {
  .category__item {
    --width: 50%;
    margin-bottom: 2.5rem;
  }
}
@media screen and (max-width: 767px) {
  .category__item {
    --width: 100%;
    --gap: 0px;
  }
  .category__image {
    height: 15rem;
  }
}

.feature {
  padding-top: 18rem;
}
.feature__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-bottom: 15rem;
}
.feature__item:nth-child(even) {
  flex-direction: row-reverse;
}
.feature__item:nth-child(even) .feature__info {
  padding-right: 10rem;
}
.feature__item:nth-child(odd) .feature__info {
  padding-left: 10rem;
}
.feature__image, .feature__info {
  width: 50%;
}
.feature__image {
  object-fit: cover;
  height: 100%;
}
.feature__image img {
  border-radius: 5rem;
}
.feature__title {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
}
.feature__desc {
  font-weight: 300;
  font-size: 1.4rem;
  margin-bottom: 4rem;
  line-height: 1.8;
}
.feature-intro__item {
  font-weight: 600;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  text-decoration: underline;
}
.feature-intro__item--circle {
  text-decoration: none;
  padding-left: 3rem;
  position: relative;
}
.feature-intro__item--circle::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #00aeff;
}
.feature-intro__item--circle:nth-child(2)::before {
  background-color: #ffa400;
}
.feature-intro__item--circle:nth-child(3)::before {
  background-color: #ff7870;
}
.feature-intro__item--circle:nth-child(4)::before {
  background-color: #f00;
}
.feature-best__icon {
  color: #ffa400;
  width: 5rem;
  height: 5rem;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-bottom: 1rem;
  position: relative;
}
.feature-best__icon::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: inherit;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: currentColor;
  opacity: 0.25;
}
.feature-best__title {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
}
.feature-best__desc {
  font-weight: 300;
}
.feature-best__list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
.feature-best__item {
  width: calc(50% - 3rem);
  margin-bottom: 5rem;
}
.feature-best__item--red .feature-best__icon {
  color: red;
}
.feature-best__item--green .feature-best__icon {
  color: green;
}
.feature-best__item--blue .feature-best__icon {
  color: blue;
}
@media screen and (max-width: 1023px) {
  .feature {
    padding-top: 10rem;
  }
  .feature__item {
    flex-direction: column;
  }
  .feature__item:nth-child(even) {
    flex-direction: column;
  }
  .feature__item:nth-child(even) .feature__info {
    padding-right: 0;
  }
  .feature__item:nth-child(odd) .feature__info {
    padding-left: 0;
  }
  .feature__image, .feature__info {
    width: 100%;
  }
  .feature__image img {
    margin: 0 auto;
  }
}

.partner {
  margin-bottom: 19rem;
}
.partner .container.partner__container {
  max-width: 83rem;
  text-align: center;
}
.partner__title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 7rem;
  padding-bottom: 7rem;
  border-bottom: 1px solid currentColor;
}
.partner__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
@media screen and (max-width: 767px) {
  .partner {
    margin-bottom: 9rem;
  }
  .partner__list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .partner__item {
    width: 50%;
    margin-bottom: 1rem;
    margin-bottom: 2rem;
  }
  .partner__item img {
    margin: 0 auto;
  }
}

.connect {
  text-align: center;
  margin-bottom: 17rem;
}
.connect__title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 3.5rem;
}
.connect__notice {
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 6rem;
}
.connect__notice span {
  color: #ffc87a;
}
.connect__list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.connect__item {
  width: calc(25% - 2.25rem);
}
@media screen and (max-width: 767px) {
  .connect {
    margin-bottom: 5rem;
  }
  .connect__list {
    flex-wrap: wrap;
  }
  .connect__item {
    width: calc(50% - 1rem);
    margin-bottom: 2rem;
  }
}

.subscribe {
  margin-bottom: 5rem;
}
.subscribe__container {
  padding-bottom: 8rem;
  border-bottom: 2px solid;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.subscribe__title, .subscribe__info {
  width: 50%;
}
.subscribe__title {
  font-size: 2rem;
  font-weight: bold;
  max-width: 43rem;
}
.subscribe__form {
  background-color: #f2f1f6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 2rem;
  margin-bottom: 3.5rem;
}
.subscribe__input, .subscribe__btn {
  border: 0;
  outline: none;
  background-color: transparent;
  font-size: 1.4rem;
  font-family: "Poppins";
}
.subscribe__input {
  flex-grow: 1;
  margin-right: 1.5rem;
}
.subscribe__btn {
  cursor: pointer;
}
.subscribe__social i {
  margin-left: 4rem;
  font-size: 2rem;
}
@media screen and (max-width: 767px) {
  .subscribe__container {
    flex-direction: column;
  }
  .subscribe__title {
    width: 100%;
    margin-bottom: 2rem;
  }
  .subscribe__info {
    width: 100%;
  }
  .subscribe__social {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
  }
  .subscribe__link i {
    margin-left: 0;
  }
}

.footer__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.footer__item {
  width: 25%;
}
.footer__link {
  color: #1a2b5f;
  font-size: 1.4rem;
  display: block;
  margin-bottom: 3rem;
  width: fit-content;
}
@media screen and (max-width: 767px) {
  .footer__container {
    flex-wrap: wrap;
  }
  .footer__item {
    width: 100%;
    margin-bottom: 2rem;
  }
  .footer__link {
    width: unset;
    text-align: center;
  }
}

/*# sourceMappingURL=main.css.map */
