.btn {
  cursor: pointer;
  outline: none;
  font-size: 1.6rem;
  text-align: center;
  color: $text-color;
  padding: 1.5rem 3rem;
  display: inline-block;
  border: 0;
  background: transparent;

  &--border {
    border: 1px solid currentColor;
  }
  &--rounded {
    border-radius: 5rem;
  }
  &--primary {
    background: $primary-color;
    &.has-shadow {
      box-shadow: 0 10px 35px -5px $primary-color;
    }
  }
}
