html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  color: $text-color;
  line-height: 1.4;
  font-weight: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

.wrapper {
  max-width: 1440px;
  height: 100vh;
  margin: 0 auto;
  .container {
    margin: 0 auto;
    max-width: 1210px;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.logo {
  font-size: 2rem;
  font-weight: 600;
  color: $text-color;

  &__text {
    color: $primary-color;
  }
}
