.partner {
  margin-bottom: 19rem;

  .container.partner__container {
    max-width: 83rem;
    text-align: center;
  }

  &__title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 7rem;
    padding-bottom: 7rem;
    border-bottom: 1px solid currentColor;
  }

  &__list {
    @include flex(center, space-between);
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 9rem;

    &__list {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__item {
      width: 50%;
      margin-bottom: 1rem;
      margin-bottom: 2rem;
      img {
        margin: 0 auto;
      }
    }
  }
}
