.subscribe {
  margin-bottom: 5rem;

  &__container {
    padding-bottom: 8rem;
    border-bottom: 2px solid;

    @include flex(flex-start, space-between);
  }

  &__title,
  &__info {
    width: 50%;
  }

  &__title {
    font-size: 2rem;
    font-weight: bold;
    max-width: 43rem;
  }

  &__form {
    background-color: #f2f1f6;
    @include flex(center, space-between);
    padding: 2rem;
    margin-bottom: 3.5rem;
  }

  &__input,
  &__btn {
    border: 0;
    outline: none;
    background-color: transparent;
    font-size: 1.4rem;
    font-family: 'Poppins';
  }

  &__input {
    flex-grow: 1;
    margin-right: 1.5rem;
  }

  &__btn {
    cursor: pointer;
  }

  &__social {
    i {
      margin-left: 4rem;
      font-size: 2rem;
    }
  }

  @media screen and (max-width: 767px) {
    &__container {
      flex-direction: column;
    }

    &__title {
      width: 100%;
      margin-bottom: 2rem;
    }

    &__info {
      width: 100%;
    }

    &__social {
      @include flex(center, space-around);
    }
    &__link i {
      margin-left: 0;
    }
  }
}
